<div class="ignite-cta text-center" id="{{ page.slug }}">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {{ page.content|raw }}
      </div>
    </div>
  </div>
</div>
