<section class="subscribe text-center" id="{{ page.slug }}">
  <div class="container">
    <h1><i class="fa fa-paper-plane"></i><span>{{ page.header.title }}</span></h1>
    {{ page.content|raw }}
  </div>
</section>
